<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- Left Sidebar - style you can find in sidebar.scss  -->
		<!-- ============================================================== -->
		<aside class="left-sidebar" data-sidebarbg="skin6">
			<!-- Sidebar scroll-->
			<div class="scroll-sidebar">
				<!-- Sidebar navigation-->
				<nav class="sidebar-nav">
					<ul id="sidebarnav">
						<!-- User Profile-->
						<li>
							<!-- User Profile-->
							<div class="user-profile d-flex no-block dropdown m-t-20">
								<div class="user-pic">
									<img src="/assets/images/users/1.jpg" alt="users" class="rounded-circle" width="40" />
								</div>
								<div class="user-content hide-menu m-l-10">
									<a href="javascript:void(0)" class="" id="Userdd" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<h5 class="m-b-0 user-name font-medium">
											Rahul kumar 
										</h5> <span class="op-5 user-email">Rahul@gmail.com</span>
									</a>
									
								</div>
							</div> <!-- End User Profile-->
						</li>

						<!-- User Profile-->
						<li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link" href="/index" aria-expanded="false"><i class="m-r-10 mdi mdi-home"></i><span class="hide-menu">Home</span></a></li>
						<li class="sidebar-item"><a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Admin Panel</span></a>

							<ul aria-expanded="false" class="collapse  first-level">
								<li class="sidebar-item"><a href="/user" class="sidebar-link"><i class="mdi mdi-adjust"></i><span class="hide-menu"> User Management </span></a></li>
								<li class="sidebar-item"><a href="/backup" class="sidebar-link"><i class="mdi mdi-adjust"></i><span class="hide-menu"> Backup Pan-drive </span></a></li>
								<li class="sidebar-item"><a href="/sync" class="sidebar-link"><i class="mdi mdi-adjust"></i><span class="hide-menu"> Server/MPU Sync </span></a></li>
								
							</ul></li>
						
						<li class="sidebar-item"><a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="m-r-10 mdi mdi-settings"></i><span class="hide-menu">Device Configuration</span></a>

							<ul aria-expanded="false" class="collapse  first-level">
								<li class="sidebar-item"><a href="/deviceConfiguration" class="sidebar-link"><i class="mdi mdi-adjust"></i><span class="hide-menu"> Device Configuration </span></a></li>
								<li class="sidebar-item"><a href="/intensitySetting" class="sidebar-link"><i class="mdi mdi-adjust"></i><span class="hide-menu"> Intensity Settings </span></a></li>
								<li class="sidebar-item"><a href="/slogans" class="sidebar-link"><i class="mdi mdi-adjust"></i><span class="hide-menu"> Slogans </span></a></li>
								<li class="sidebar-item"><a href="#" class="sidebar-link"><i class="mdi mdi-adjust"></i><span class="hide-menu"> KM Running age </span></a></li>
								<li class="sidebar-item"><a href="#" class="sidebar-link"><i class="mdi mdi-adjust"></i><span class="hide-menu"> Audio Settings </span></a></li>
								
								
							</ul></li>
						<li class="sidebar-item"><a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="m-r-10 mdi mdi-content-save-settings"></i><span class="hide-menu">Peripheral Device</span></a>

							<ul aria-expanded="false" class="collapse  first-level">
								<li class="sidebar-item"><a href="/lEDBoard" class="sidebar-link"><i class="mdi mdi-adjust"></i><span class="hide-menu"> LED dislination board </span></a></li>
								<li class="sidebar-item"><a href="/lCDBoard" class="sidebar-link"><i class="mdi mdi-adjust"></i><span class="hide-menu"> LCD slave display board </span></a></li>
								<li class="sidebar-item"><a href="/paSystem" class="sidebar-link"><i class="mdi mdi-adjust"></i><span class="hide-menu"> PA system </span></a></li>
								<li class="sidebar-item"><a href="/emergencyButton" class="sidebar-link"><i class="mdi mdi-adjust"></i><span class="hide-menu"> Emergency switch button </span></a></li>
								
								
							</ul></li>	
						<li class="sidebar-item"><a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="m-r-10 mdi mdi-train"></i><span class="hide-menu">Train Route</span></a>

							<ul aria-expanded="false" class="collapse  first-level">
								<li class="sidebar-item"><a href="#" class="sidebar-link"><i class="mdi mdi-adjust"></i><span class="hide-menu"> Add Train </span></a></li>
								<li class="sidebar-item"><a href="#" class="sidebar-link"><i class="mdi mdi-adjust"></i><span class="hide-menu"> Add Stations </span></a></li>
								<li class="sidebar-item"><a href="#" class="sidebar-link"><i class="mdi mdi-adjust"></i><span class="hide-menu"> Train Route </span></a></li>
								<li class="sidebar-item"><a href="#" class="sidebar-link"><i class="mdi mdi-adjust"></i><span class="hide-menu"> Rake Composition </span></a></li>
								<li class="sidebar-item"><a href="/languages" class="sidebar-link"><i class="mdi mdi-adjust"></i><span class="hide-menu"> Languages </span></a></li>
								
								
							</ul></li>	
						<li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link" href="icon-material.html" aria-expanded="false"><i class="m-r-10 mdi mdi-developer-board"></i><span class="hide-menu">On Board Diagnostic</span></a></li>
						
					</ul>

				</nav>
				<!-- End Sidebar navigation -->
			</div>
			<!-- End Sidebar scroll-->
		</aside>
		<!-- ============================================================== -->
		<!-- End Left Sidebar - style you can find in sidebar.scss  -->
		<!-- ============================================================== -->
<body>