<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon.png">
<title>Backup</title>
<!-- Custom CSS -->
<link href="/dist/css/style.min.css" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
	<!-- ============================================================== -->
	<!-- Preloader - style you can find in spinners.css -->
	<!-- ============================================================== -->
	<div class="preloader">
		<div class="lds-ripple">
			<div class="lds-pos"></div>
			<div class="lds-pos"></div>
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- Main wrapper - style you can find in pages.scss -->
	<!-- ============================================================== -->
	<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
		<!-- ============================================================== -->
		<div th:insert="header.html :: header"></div>
		<!-- ============================================================== -->
		<div th:insert="aside.html :: aside"></div>
		<!-- ============================================================== -->
		<!-- Page wrapper  -->
		<!-- ============================================================== -->
		<div class="page-wrapper">
			<!-- ============================================================== -->
			<!-- Bread crumb and right sidebar toggle -->
			<!-- ============================================================== -->
			<div class="page-breadcrumb">
				<div class="row align-items-center">
					<div class="col-7">
						<h4 class="page-title">Backup</h4>
						<div class="d-flex align-items-center">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="#">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Backup</li>
								</ol>
							</nav>
						</div>
					</div>

					<div class="col-5">
						<div class="text-right upgrade-btn">
							<a href="/index" class="btn btn-info text-white">Back</a>
						</div>
					</div>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- End Bread crumb and right sidebar toggle -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- Container fluid  -->
			<!-- ============================================================== -->
			<div class="container-fluid">
				<!-- ============================================================== -->
				<!-- Start Page Content -->
				<!-- ============================================================== -->


				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body" align="center">
								<div>
									<label for="recipient-name" class="control-label">Select MPU Id:</label> <select>
										<option th:value="100">100%</option>
										<option th:value="90">90%</option>
										<option th:value="80">80%</option>

									</select>

								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="row">
					<!-- column -->
					<div class="col-lg-6">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title" align="center">Download Data</h4>

								<table class="table no-border mini-table m-t-20">
									<tbody>
										<tr>
											<td class="font-medium">Complete data</td>
											<td class="font-medium"><button type="submit" class="btn waves-effect waves-light btn-success">
													<i class="m-r-10 mdi mdi-cloud-download"></i>Download
												</button></td>
										</tr>
										<tr>
											<td class="font-medium">Train route</td>
											<td class="font-medium"><button type="submit" class="btn waves-effect waves-light btn-success">
													<i class="m-r-10 mdi mdi-cloud-download"></i>Download
												</button></td>
										</tr>
										<tr>
											<td class="font-medium">Rake composition</td>
											<td class="font-medium"><button type="submit" class="btn waves-effect waves-light btn-success">
													<i class="m-r-10 mdi mdi-cloud-download"></i>Download
												</button></td>
										</tr>
										<tr>
											<td class="font-medium">Device configuration</td>
											<td class="font-medium"><button type="submit" class="btn waves-effect waves-light btn-success">
													<i class="m-r-10 mdi mdi-cloud-download"></i>Download
												</button></td>
										</tr>



									</tbody>
								</table>

							</div>
						</div>
					</div>
					<!-- column -->
					<div class="col-lg-6">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title" align="center">Upload data</h4>

								<table class="table no-border mini-table m-t-20">
									<tbody>
										<tr>
											<td class="font-medium">MPU logs</td>
											<td class="font-medium"><button type="submit" class="btn waves-effect waves-light btn-success">
													<i class="m-r-10 mdi mdi-cloud-upload"></i>Upload
												</button></td>
										</tr>
										<tr>
											<td class="font-medium">Upload KM run age route</td>
											<td class="font-medium"><button type="submit" class="btn waves-effect waves-light btn-success">
													<i class="m-r-10 mdi mdi-cloud-upload"></i>Upload
												</button></td>
										</tr>
										<tr>
											<td class="font-medium"></td>
											<td class="font-medium"></td>
										</tr>
										<tr>
											<td class="font-medium"></td>
											<td class="font-medium"></td>
										</tr>
										<tr>
											<td class="font-medium"></td>
											<td class="font-medium"></td>
										</tr>
										<tr>
											<td class="font-medium"></td>
											<td class="font-medium"></td>
										</tr>



									</tbody>
								</table>

							</div>
						</div>
					</div>

				</div>


				<!-- ============================================================== -->
				<!-- End PAge Content -->
				<!-- ============================================================== -->
				<!-- ============================================================== -->
				<!-- Right sidebar -->
				<!-- ============================================================== -->
				<!-- .right-sidebar -->
				<!-- ============================================================== -->
				<!-- End Right sidebar -->
				<!-- ============================================================== -->
			</div>
			<!-- ============================================================== -->
			<!-- End Container fluid  -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- footer -->
			<!-- ============================================================== -->
			<footer class="footer text-center"> Copyright Dan electronic system Pvt ltd, 2020 </footer>
			<!-- ============================================================== -->
			<!-- End footer -->
			<!-- ============================================================== -->
		</div>
		<!-- ============================================================== -->
		<!-- End Page wrapper  -->
		<!-- ============================================================== -->
	</div>
	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- All Jquery -->
	<!-- ============================================================== -->
	<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap tether Core JavaScript -->
	<script src="/assets/libs/popper.js/dist/umd/popper.min.js"></script>
	<script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/dist/js/app-style-switcher.js"></script>
	<!--Wave Effects -->
	<script src="/dist/js/waves.js"></script>
	<!--Menu sidebar -->
	<script src="/dist/js/sidebarmenu.js"></script>
	<!--Custom JavaScript -->
	<script src="/dist/js/custom.js"></script>
</body>

</html>