<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon.png">
<title>Intensity Setting</title>
<!-- Custom CSS -->
<link href="/dist/css/style.min.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<script type="text/javascript">
	function viewUser(id) {
		$.ajax({
			url : "/editIntensitySetting/" + id,
			success : function(response) {
				$("#modalHolder").html(response);
				$("#responsive-modal").modal("show");
			}
		});
	}
	
	function findList(propertyTypeId) {
		
		if(propertyTypeId == 1 || propertyTypeId == 2){
			$.ajax({
				url : "/ledLists/" + propertyTypeId,
				success : function(data) {
				var html = '';
                var len = data.length;
                for ( var i = 0; i < len; i++) {
                    html += '<option value="' + data[i].id + '">'
                            + data[i].name + '</option>';
                }
                html += '</option>';
                    $('#preDeviceId').html(html);
					
					
				}
			});
		}else if(propertyTypeId == 3){
			$.ajax({
				url : "/lcdLists/" + propertyTypeId,
				success : function(data) {
				var html = '';
                var len = data.length;
                for ( var i = 0; i < len; i++) {
                    html += '<option value="' + data[i].id + '">'
                            + data[i].name + '</option>';
                }
                html += '</option>';
                    $('#preDeviceId').html(html);
					
					
				}
			});
		}
		
	}
	function findIntensitySetting(deviceId)
	{
		window.location="/findIntensitySetting/"+deviceId
	   
	}
</script>
</head>

<body>
	<!-- ============================================================== -->
	<!-- Preloader - style you can find in spinners.css -->
	<!-- ============================================================== -->
	<div class="preloader">
		<div class="lds-ripple">
			<div class="lds-pos"></div>
			<div class="lds-pos"></div>
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- Main wrapper - style you can find in pages.scss -->
	<!-- ============================================================== -->
	<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
		<!-- ============================================================== -->
		<div th:insert="header.html :: header"> </div>
		<!-- ============================================================== -->
        <div th:insert="aside.html :: aside"> </div>
		<!-- ============================================================== -->
		<!-- Page wrapper  -->
		<!-- ============================================================== -->
		<div class="page-wrapper">
			<!-- ============================================================== -->
			<!-- Bread crumb and right sidebar toggle -->
			<!-- ============================================================== -->
			<div class="page-breadcrumb">
				<div class="row align-items-center">
					<div class="col-5">
						<h4 class="page-title">Intensity Setting</h4>
						<div class="d-flex align-items-center">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="#">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Intensity Setting</li>
								</ol>
							</nav>
						</div>
					</div>
					<div class="col-2" style="text-align:right;margin-top:15px">
					
					<label for="recipient-name" class="control-label">Select <span th:text="${deviceType}"></span> Device id:</label>
						

					</div>
					<div class="col-3">
						 <select id="deviceId" class="form-control form-control-line"  th:field="*{deviceId}" required
						 onchange="javascript:findIntensitySetting(this.value)">
								<option  th:each="device : ${devices}" th:value="${device.deviceId}" th:utext="${device.deviceIdDisplay}"/>
						 </select> 

					</div>
														
					<div class="col-2">
						<div class="text-right upgrade-btn">
							<a data-toggle="modal" data-target="#responsive-modal"  
							 class="btn waves-effect waves-light btn-rounded btn-success text-white">
							<i class="fa fa-plus"></i>Add Intensity Setting</a>
						</div>
					</div>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- End Bread crumb and right sidebar toggle -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- Container fluid  -->
			<!-- ============================================================== -->
			<div class="container-fluid">
				<!-- ============================================================== -->
				<!-- Start Page Content -->
				<!-- ============================================================== -->
				<div class="row">

					<div class="col-12">
						<div class="card">
							<div class="table-responsive">
								<table class="table">
									<thead class="thead-light">
										<tr>
										    <th scope="col">Device Type Name</th>
										    <th scope="col">Device Type Id</th>
										    <th scope="col">Intensity Type</th>
											<th scope="col">Night Intensity</th>
											<th scope="col">Night Start Time</th>
											<th scope="col">Night End Time</th>
											<th scope="col">Day Intensity</th>
											<th scope="col">Action</th>
										</tr>
									</thead>
									<tbody>

										<tr th:each="dc: ${intensitySettings}">
										    <td th:text="${dc.deviceTypeName}"></td>
										    <td th:text="${dc.preDeviceId}"></td>
										    <td th:text="${dc.intensityType}"></td>
											<td th:text="${dc.nightIntensity}+'%'"></td>
											<td th:text="${dc.nightStartTime}"></td>
											<td th:text="${dc.nightEndTime}"></td>
											<td th:text="${dc.dayIntensity}+'%'"></td>
											
											<td>
												<ul class="list-inline m-0">

													<li class="list-inline-item"><a th:attr="onclick=|viewUser('${dc.Id}')|">
															<button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit">
																<i class="fa fa-edit"></i>
															</button>
													</a></li>
													<li class="list-inline-item"><a data-toggle="modal" th:attr="data-target='#delete-modal'+${dc.Id}">
													<button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete">
																<i class="fa fa-trash"></i>
															</button></a></li>
												</ul>

												<div class="col-12">

													<!-- sample modal content -->
													<div id="delete-modal" class="modal bs-example-modal-sm" th:id="delete-modal+${dc.Id }" tabindex="-1" role="dialog" 
													aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
														<div class="modal-dialog modal-sm">
															<div class="modal-content">
																<div class="modal-header">
																	<h4 class="modal-title" id="mySmallModalLabel">Delete device configuration</h4>
																	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
																</div>
																<div class="modal-body">Are you sure you want to delete the Intensity Setting ?</div>
																<div class="modal-footer">
																	<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
																	<a th:href="${'/deleteIntensitySetting/'+dc.Id}"><button class="btn btn-danger">Yes</button></a>
																</div>
															</div>
															<!-- /.modal-content -->
														</div>
														<!-- /.modal-dialog -->
													</div>

												</div>

											</td>
										</tr>


									</tbody>
								</table>
								<div class="col-12" style="text-align: center;">
									<span th:if="${#lists.isEmpty(intensitySettings)}">Record not found</span>
								</div>
							</div>
						</div>
					</div>

					<div id="modalHolder"></div>

					<div class="col-12">
						<!-- sample modal content -->
						<div id="responsive-modal"  class="modal bs-example-modal-lg" tabindex="-1" role="dialog" 
						        aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;" th:fragment="responsiveDeviceModal">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<form action="#" th:action="@{/addIntensitySetting}" th:object="${intensitySetting}" method="post">

										<div class="modal-header">
											<h4 class="modal-title">Add/Edit Intensity Setting</h4>
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

										</div>
										<div class="modal-body">

											<div class="container-fluid">
											<input type="hidden" class="form-control" th:field="*{Id}">
											
											<div class="row">
											<div class="col-md-4">
											<div class="form-group">
												    <label for="recipient-name" class="control-label">Select <span th:text="${deviceType}"></span> Device id:</label> 
													<select id="deviceId" class="form-control form-control-line"  th:field="*{deviceId}" required>
								                         <option  th:each="device : ${devices}" th:value="${device.deviceId}" th:utext="${device.deviceIdDisplay}"/>
						                             </select>
												</div>
												
											</div>
											<div class="col-md-4">
											<div class="form-group">
												    <label for="recipient-name" class="control-label">Device type:</label> 
													<select id="periDeviceType" class="form-control form-control-line"
													 onchange="javascript:findList(this.value)"  th:field="*{deviceTypeId}">
														
														<option th:value="1" >LED dislination board</option>
														<option th:value="2">LED slave display board</option>
														<option th:value="3">LCD slave display board</option>
														
													</select>

												</div>
												
											</div>
											
											<div class="col-md-4">

												<div class="form-group" >
															<label for="recipient-name" class="control-label">Select Device Type id:</label>
															 <select id="preDeviceId" class="form-control form-control-line" 
															  th:field="*{preDeviceId}" required>
																<option  th:each="preDevice : ${preDevices}" th:value="${preDevice.Id}" th:utext="${preDevice.boardHardwareId}"/>
															</select>

														</div>

											</div>
										</div>
												<div class="row">
													<div class="col-md-5">

														<div class="form-group">
															<label for="recipient-name" class="control-label">Intensity Type:</label> <select class="form-control form-control-line" th:field="*{intensityType}">
																<option th:value="Automatic">Automatic</option>
																<option th:value="Manual">Manual</option>

															</select>

														</div>

													</div>
													<div class="col-md-1"></div>
													<div class="col-md-5">


														<div class="form-group">
															<label for="recipient-name" class="control-label">Night Intensity:</label>
															 <select class="form-control form-control-line" th:field="*{nightIntensity}">
																<option th:value="30">30%</option>
																<option th:value="20">20%</option>
																<option th:value="10">10%</option>

															</select>

														</div>

													</div>
												</div>
												<div class="row">
													<div class="col-md-5">

														<div class="form-group">
															<label for="recipient-name" class="control-label">Night Start Time:</label> 
															<input type="text" class="form-control" th:field="*{nightStartTime}" required pattern="(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}"
															title="Please enter valid format HH:MM:SS">
														</div>

													</div>
													<div class="col-md-1"></div>
													<div class="col-md-5">

														<div class="form-group">
															<label for="recipient-name" class="control-label">Night End Time:</label> 
															<input type="text" class="form-control" th:field="*{nightEndTime}" required pattern="(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}"
															title="Please enter valid format HH:MM:SS">
														</div>

													</div>
												</div>
												<div class="row">
													<div class="col-md-5">


														<div class="form-group">
															<label for="recipient-name" class="control-label">Day Intensity:</label> <select class="form-control form-control-line" th:field="*{dayIntensity}">
																<option th:value="100">100%</option>
																<option th:value="90">90%</option>
																<option th:value="80">80%</option>

															</select>

														</div>

													</div>
													<div class="col-md-1"></div>

												</div>

											</div>


										</div>
										<div class="modal-footer">

											<button type="button" class="btn waves-effect waves-light btn-danger" data-dismiss="modal">Close</button>
											<button type="submit" class="btn waves-effect waves-light btn-success">Save</button>
										</div>
									</form>
								</div>

							</div>
						</div>
					</div>

				</div>
				<!-- ============================================================== -->
				<!-- End PAge Content -->
				<!-- ============================================================== -->
				<!-- ============================================================== -->
				<!-- Right sidebar -->
				<!-- ============================================================== -->
				<!-- .right-sidebar -->
				<!-- ============================================================== -->
				<!-- End Right sidebar -->
				<!-- ============================================================== -->
			</div>
			<!-- ============================================================== -->
			<!-- End Container fluid  -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- footer -->
			<!-- ============================================================== -->
			<footer class="footer text-center"> Copyright Dan electronic system Pvt ltd, 2020 </footer>
			<!-- ============================================================== -->
			<!-- End footer -->
			<!-- ============================================================== -->
		</div>
		<!-- ============================================================== -->
		<!-- End Page wrapper  -->
		<!-- ============================================================== -->
	</div>
	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- All Jquery -->
	<!-- ============================================================== -->
	<script src="/assets/libs/jquery/dist/jquery.min.js"></script>

	<!-- Bootstrap tether Core JavaScript -->
	<script src="/assets/libs/popper.js/dist/umd/popper.min.js"></script>
	<script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/dist/js/app-style-switcher.js"></script>
	<!--Wave Effects -->
	<script src="/dist/js/waves.js"></script>
	<!--Menu sidebar -->
	<script src="/dist/js/sidebarmenu.js"></script>
	<!--Custom JavaScript -->
	<script src="/dist/js/custom.js"></script>
</body>

</html>