<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon.png">
<title>Add peripheral device</title>
<!-- Custom CSS -->
<link href="/dist/css/style.min.css" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
	<!-- ============================================================== -->
	<!-- Preloader - style you can find in spinners.css -->
	<!-- ============================================================== -->
	<div class="preloader">
		<div class="lds-ripple">
			<div class="lds-pos"></div>
			<div class="lds-pos"></div>
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- Main wrapper - style you can find in pages.scss -->
	<!-- ============================================================== -->
	<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
		<!-- ============================================================== -->
		<div th:insert="header.html :: header"> </div>
		<!-- ============================================================== -->
        <div th:insert="aside.html :: aside"> </div>
		<!-- ============================================================== -->
		<!-- Page wrapper  -->
		<!-- ============================================================== -->
		<div class="page-wrapper">
			<!-- ============================================================== -->
			<!-- Bread crumb and right sidebar toggle -->
			<!-- ============================================================== -->
			<div class="page-breadcrumb">
				<div class="row align-items-center">
					<div class="col-7">
						<h4 class="page-title">Add peripheral device</h4>
						<div class="d-flex align-items-center">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="#">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Add peripheral device</li>
								</ol>
							</nav>
						</div>
					</div>

					<div class="col-5">
						<div class="text-right upgrade-btn">
							<a href="/deviceConfiguration" class="btn btn-info text-white">Back</a>
						</div>
					</div>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- End Bread crumb and right sidebar toggle -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- Container fluid  -->
			<!-- ============================================================== -->
			<div class="container-fluid">
				<!-- ============================================================== -->
				<!-- Start Page Content -->
				<!-- ============================================================== -->



				<div class="container-fluid">
					<div class="row">

						<div class="col-12">
							<div class="card">
								<div class="table-responsive">
									<table class="table">
										<thead class="thead-light">
											<tr>
												<th scope="col"><span th:text="${deviceType}"></span> Device Id</th>
												<th scope="col">Device Type</th>
												<th scope="col">IP Address</th>
												<th scope="col">Name</th>
												<th scope="col">Status</th>
												<th scope="col">Last Updated On</th>
												<th scope="col">Actions</th>

											</tr>
										</thead>
										<tbody>

											<tr th:each="dc: ${lEDBoards}">
												<td th:text="${dc.deviceId}"></td>
												<td th:text="${dc.deviceTypeName}"></td>
												<td th:text="${dc.boardIPAddress}"></td>
												<td th:text="${dc.name}"></td>
												<td th:if="${dc.status} == 'Working'" th:text="${dc.status}" style="color:green;"></td>
											    <td th:if="${dc.status} == 'Not Working'" th:text="${dc.status}" style="color:red;"></td>
												<td th:text="${dc.lastModified}"></td>

												<td>
													<ul class="list-inline m-0">

														<li class="list-inline-item"><a th:href="${'/editLEDBoard/'+dc.id}">
																<button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit">
																	<i class="fa fa-edit"></i>
																</button>
														</a></li>
														<li class="list-inline-item"><a data-toggle="modal" th:attr="data-target='#delete-modal'+${dc.Id}"><button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete">
																	<i class="fa fa-trash"></i>
																</button></a></li>
													</ul>

													<div class="col-12">

														<!-- sample modal content -->
														<div id="delete-modal" class="modal bs-example-modal-sm" th:id="delete-modal+${dc.Id }" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
															<div class="modal-dialog modal-sm">
																<div class="modal-content">
																	<div class="modal-header">
																		<h4 class="modal-title" id="mySmallModalLabel">Delete device configuration</h4>
																		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
																	</div>
																	<div class="modal-body">
																		Are you sure you want to delete the peripheral device : <span th:text=${dc.name}></span> ?

																	</div>
																	<div class="modal-footer">
																		<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
																		<a th:href="${'/deleteLEDBoard/'+dc.Id}"><button class="btn btn-danger">Yes</button></a>
																	</div>
																</div>
																<!-- /.modal-content -->
															</div>
															<!-- /.modal-dialog -->
														</div>

													</div>

												</td>
											</tr>


										</tbody>
									</table>
									<div class="col-12" style="text-align: center;">
									<span th:if="${#lists.isEmpty(lEDBoards)}">Record
										not found</span>
								</div>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="container-fluid"></div>

				<div class="row justify-content-center">
					<div class="col-12">
						<div class="card">
							<div class="card-body">

								<form action="#" th:action="@{/addLEDBoard}" th:object="${lEDBoard}" method="post">

									<div class="container-fluid">

										<div class="row">
											<div class="col-6">
												<div class="form-group" >
															<label for="recipient-name" class="control-label">Select <span th:text="${deviceType}"></span> Device id:</label> <select class="form-control form-control-line" th:field="*{deviceId}" required>
																<option  th:each="device : ${devices}" th:value="${device.deviceId}" th:utext="${device.deviceId}"/>
															</select>

														</div>
											</div>
											<div class="col-md-6">

                                                    <input type="hidden"  class="form-control" th:field="*{Id}">
												<div class="form-group">
													<label for="recipient-name" class="control-label">Device type:</label> <input type="text" readonly="readonly" class="form-control" th:field="*{periDeviceType}">
												</div>

											</div>
										</div>
										<div class="row">
									      	<input type="hidden"  class="form-control" th:field="*{id}">
											
											
											<div class="col-md-6">

												<div class="form-group">
													<label for="recipient-name" class="control-label">Name:</label> <input type="text" class="form-control" th:field="*{name}">
												</div>

											</div>
											<div class="col-md-6">

												<div class="form-group">
													<label for="recipient-name" class="control-label">Board Hardware Id:</label> <input type="text" class="form-control" th:field="*{boardHardwareId}">
												</div>

											</div>
										</div>
										<div class="row">
											
											
											<div class="col-md-6">

												<div class="form-group">
													<label for="recipient-name" class="control-label">Board IP Address:</label> <input type="text" class="form-control" th:field="*{boardIPAddress}">
												</div>

											</div>
											<div class="col-md-6">

												<div class="form-group">
													<label for="recipient-name" class="control-label">Board MAC Address:</label> <input type="text" class="form-control" th:field="*{boardMACAddress}">
												</div>

											</div>
										</div>
										<div class="row">
											
											
											<div class="col-md-12">

												<div class="form-group">
													<label for="recipient-name" class="control-label">Default Message:</label>
													<textarea rows="3" class="form-control form-control-line" ></textarea>

												</div>

											</div>
										</div>
										<div class="row">
											<div class="col-md-6">

												<div class="form-group">
													<label for="recipient-name" class="control-label">Effect Type:</label> <select class="form-control form-control-line" th:field="*{effectType}">
														<option th:value="Scroling">Scroling</option>
														<option th:value="Flashing">Flashing</option>

													</select>

												</div>

											</div>
											
											<div class="col-md-6">

												<div class="form-group">
													<label for="recipient-name" class="control-label">Effect speed:</label> <select class="form-control form-control-line" >
														<option th:value="Very_high">Very high</option>
														<option th:value="High">High</option>
														<option th:value="Medium">Medium</option>
														<option th:value="Slow">Slow</option>
														<option th:value="Very_slow">Very slow</option>

													</select>

												</div>

											</div>
										</div>
										<div class="row">

											<div class="col-md-6">

												<div class="form-group">
													<label for="recipient-name" class="control-label">Data change seconds:</label> <select class="form-control form-control-line" th:field="*{dataChangeSeconds}">
														<option th:value="10">10</option>
														<option th:value="20">20</option>
														<option th:value="30">30</option>
														<option th:value="40">40</option>
														<option th:value="50">50</option>
														<option th:value="60">60</option>
														<option th:value="70">70</option>
														<option th:value="80">80</option>
														<option th:value="90">90</option>
														<option th:value="100">100</option>
														<option th:value="110">110</option>
														<option th:value="120">120</option>
													</select>

												</div>

											</div>
											
											

										</div>


									</div>




									<button type="button" class="btn waves-effect waves-light btn-success" >Test</button>
									<button type="submit" class="btn waves-effect waves-light btn-success">Save</button>

								</form>

							</div>

						</div>
					</div>
				</div>
				<!-- ============================================================== -->
				<!-- End PAge Content -->
				<!-- ============================================================== -->
				<!-- ============================================================== -->
				<!-- Right sidebar -->
				<!-- ============================================================== -->
				<!-- .right-sidebar -->
				<!-- ============================================================== -->
				<!-- End Right sidebar -->
				<!-- ============================================================== -->
			</div>
			<!-- ============================================================== -->
			<!-- End Container fluid  -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- footer -->
			<!-- ============================================================== -->
			<footer class="footer text-center"> Copyright Dan electronic system Pvt ltd, 2020 </footer>
			<!-- ============================================================== -->
			<!-- End footer -->
			<!-- ============================================================== -->
		</div>
		<!-- ============================================================== -->
		<!-- End Page wrapper  -->
		<!-- ============================================================== -->
	</div>
	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- All Jquery -->
	<!-- ============================================================== -->
	<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap tether Core JavaScript -->
	<script src="/assets/libs/popper.js/dist/umd/popper.min.js"></script>
	<script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/dist/js/app-style-switcher.js"></script>
	<!--Wave Effects -->
	<script src="/dist/js/waves.js"></script>
	<!--Menu sidebar -->
	<script src="/dist/js/sidebarmenu.js"></script>
	<!--Custom JavaScript -->
	<script src="/dist/js/custom.js"></script>
</body>

</html>