<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html dir="ltr" lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16"
	href="/assets/images/favicon.png">
<title>Slogans</title>
<!-- Custom CSS -->
<link href="/dist/css/style.min.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<script type="text/javascript" th:inline="javascript">
	function viewUser(id) {
		$.ajax({
			url : "/editSlogans/" + id,
			success : function(response) {
				$("#modalHolder").html(response);
				$("#responsive-modal").modal("show");

			}
		});
	}
	
	function findSlogans(deviceId) {
		window.location = "/findSlogans/" + deviceId

	}

	var _validFileExtensions = [".MP3", ".mp3"];
	function Validate(oForm) {
		var arrInputs = oForm.getElementsByTagName("input");
		for (var i = 0; i < arrInputs.length; i++) {
			var oInput = arrInputs[i];
			if (oInput.type == "file") {
				var sFileName = oInput.value;
				if (sFileName.length > 0) {
					var blnValid = false;
					for (var j = 0; j < _validFileExtensions.length; j++) {
						var sCurExtension = _validFileExtensions[j];
						if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
							blnValid = true;
							break;
						}
					}

					if (!blnValid) {
						alert("Sorry, " + sFileName + " is invalid, allowed extensions are: " + _validFileExtensions.join(", "));
						return false;
					}
				}
			}
		}

		return true;
	}
	
	function uploadFileShow(slogansType) {

		var uploadFileLabel = document.getElementById("uploadFileLabel");
		var uploadFile = document.getElementById("uploadFile");
		if (slogansType == 3) {

			uploadFileLabel.style.display = "block";
			uploadFile.style.display = "block";
		} else {

			uploadFileLabel.style.display = "none";
			uploadFile.style.display = "none";
		}

	}
</script>
</head>

<body>
	<!-- ============================================================== -->
	<!-- Preloader - style you can find in spinners.css -->
	<!-- ============================================================== -->
	<div class="preloader">
		<div class="lds-ripple">
			<div class="lds-pos"></div>
			<div class="lds-pos"></div>
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- Main wrapper - style you can find in pages.scss -->
	<!-- ============================================================== -->
	<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5"
		data-sidebartype="full" data-sidebar-position="absolute"
		data-header-position="absolute" data-boxed-layout="full">
		<!-- ============================================================== -->
		<div th:insert="header.html :: header"></div>
		<!-- ============================================================== -->
		<div th:insert="aside.html :: aside"></div>
		<!-- ============================================================== -->
		<!-- Page wrapper  -->
		<!-- ============================================================== -->
		<form action="#" th:action="@{/addSlogans}"
										th:object="${slogans}" method="post"
										enctype="multipart/form-data"
										onsubmit="return Validate(this);">
		
		<div class="page-wrapper">
		     		
			<!-- ============================================================== -->
			<!-- Bread crumb and right sidebar toggle -->
			<!-- ============================================================== -->
			<div class="page-breadcrumb">
				<div class="row align-items-center">
					<div class="col-5">
						<h4 class="page-title">Slogans</h4>
						<div class="d-flex align-items-center">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="#">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Slogans</li>
								</ol>
							</nav>
						</div>
					</div>
					<div class="col-2" style="text-align: right; margin-top: 15px">

						<label for="recipient-name" class="control-label">Select <span
							th:text="${deviceType}"></span> Device id:
						</label>


					</div>
					<div class="col-3">
						<select id="device_id" class="form-control form-control-line"
							th:field="*{deviceId}" required
							onchange="javascript:findSlogans(this.value)">
							<option th:each="device : ${devices}"
								th:value="${device.deviceId}"
								th:utext="${device.deviceIdDisplay}" />
						</select>

					</div>
					<div class="col-2">
						<div class="text-right upgrade-btn">
							<a data-toggle="modal" data-target="#responsive-modal"
								class="btn waves-effect waves-light btn-rounded btn-success text-white"><i
								class="fa fa-plus"></i>Add Slogans</a>
						</div>
					</div>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- End Bread crumb and right sidebar toggle -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- Container fluid  -->
			<!-- ============================================================== -->
			<div class="container-fluid">
				<!-- ============================================================== -->
				<!-- Start Page Content -->
				<!-- ============================================================== -->
				<div class="row">

					<div class="col-12">
						<div class="card">
							<div class="table-responsive">
								<table class="table">
									<thead class="thead-light">
										<tr>
											<th scope="col">Device Type Name</th>
											<th scope="col">Slogans Type</th>
											<th scope="col">Language</th>
											<th scope="col">Message</th>
											<th scope="col">Actions</th>


										</tr>
									</thead>
									<tbody>

										<tr th:each="dc: ${sloganss}">
											<td th:text="${dc.deviceTypeName}"></td>
											<td th:text="${dc.messageType}"></td>
											<td th:text="${dc.language}"></td>
											<td th:text="${dc.message}"></td>


											<td>
												<ul class="list-inline m-0">


													<li class="list-inline-item"><a
														th:attr="onclick=|viewUser('${dc.id}')|">
															<button class="btn btn-success btn-sm rounded-0"
																type="button" data-toggle="tooltip" data-placement="top"
																title="Edit">
																<i class="fa fa-edit"></i>
															</button>
													</a></li>
													<li class="list-inline-item"><a data-toggle="modal"
														th:attr="data-target='#delete-modal'+${dc.id}"><button
																class="btn btn-danger btn-sm rounded-0" type="button"
																data-toggle="tooltip" data-placement="top"
																title="Delete">
																<i class="fa fa-trash"></i>
															</button></a></li>
												</ul>

												<div class="col-12">

													<!-- sample modal content -->
													<div id="delete-modal" class="modal bs-example-modal-sm"
														th:id="delete-modal+${dc.id }" tabindex="-1" role="dialog"
														aria-labelledby="mySmallModalLabel" aria-hidden="true"
														style="display: none;">
														<div class="modal-dialog modal-sm">
															<div class="modal-content">
																<div class="modal-header">
																	<h4 class="modal-title" id="mySmallModalLabel">Delete
																		User</h4>
																	<button type="button" class="close"
																		data-dismiss="modal" aria-hidden="true">×</button>
																</div>
																<div class="modal-body">Are you sure you want to
																	delete the Slogans ?</div>
																<div class="modal-footer">
																	<button class="btn" data-dismiss="modal"
																		aria-hidden="true">Cancel</button>
																	<a th:href="${'/deleteSlogans/'+dc.id}"><button
																			class="btn btn-danger">Yes</button></a>
																</div>
															</div>
															<!-- /.modal-content -->
														</div>
														<!-- /.modal-dialog -->
													</div>

												</div>

											</td>
										</tr>

									</tbody>
								</table>
								<div class="col-12" style="text-align: center;">
									<span th:if="${#lists.isEmpty(sloganss)}">Record not
										found</span>
								</div>
							</div>
						</div>
					</div>

					<div id="modalHolder"></div>

					<div class="col-12">
						<!-- sample modal content -->
						<div id="responsive-modal" class="modal bs-example-modal-lg"
							tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
							aria-hidden="true" style="display: none;"
							th:fragment="responsiveDeviceModal">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									

										<div class="modal-header">
											<h4 class="modal-title">Add/Edit Slogans</h4>
											<button type="button" class="close" data-dismiss="modal"
												aria-hidden="true">×</button>

										</div>
										<div class="modal-body">

											<div class="container-fluid">
												<div class="row">
													<input type="hidden" class="form-control" th:field="*{Id}">
													<div class="col-md-4">


														<div class="form-group">
															<label for="recipient-name" class="control-label">Select
																<span th:text="${deviceType}"></span> Device id:
															</label> <select id="deviceId"
																class="form-control form-control-line"
																th:field="*{deviceId}" required>
																<option th:each="device : ${devices}"
																	th:value="${device.deviceId}"
																	th:utext="${device.deviceIdDisplay}" />
															</select>

														</div>


													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label for="recipient-name" class="control-label">Device
																type:</label> <select id="periDeviceType"
																class="form-control form-control-line"
																onchange="javascript:findList(this.value)"
																th:field="*{deviceTypeId}">

																<option th:value="1">LED dislination board</option>
																<option th:value="2">LED slave display board</option>
																<option th:value="3">LCD slave display board</option>

															</select>

														</div>

													</div>


													<div class="col-md-4">

														<div class="form-group">
															<label for="recipient-name" class="control-label">Slogans
																Type:</label> <select class="form-control form-control-line"
																th:field="*{messageTypeId}" id="slogansType"
																onchange="javascript:uploadFileShow(this.value)">
																<option th:value="1">Welcome message</option>
																<option th:value="2">Farewell message</option>
																<option th:value="3">Slogans</option>

															</select>

														</div>

													</div>
												</div>
												<div class="row">
													<div class="col-md-3">

														<div class="form-group">
															<label for="recipient-name" class="control-label">Language:</label>
															<select class="form-control form-control-line"
																th:field="*{language}">
																<option th:value="Hindi">Hindi</option>
																<option th:value="English">English</option>
																<option th:value="Punjabi">Punjabi</option>
																<option th:value="Gujarati">Gujarati</option>


															</select>

														</div>

													</div>

													<div class="col-md-5">

														<div class="form-group">
															<label for="recipient-name" class="control-label">Message:</label>
															<textarea rows="1" class="form-control form-control-line"
																th:field="*{message}" required></textarea>

														</div>

													</div>
													<div class="col-md-4" 
													>
														<label for="recipient-name" class="control-label" id="uploadFileLabel" 
														th:style="${slogans.messageTypeId == 3 ? 'display: block' : 'display: none'}">Audio
															file upload:</label>
														<div class="form-group" id="uploadFile" th:style="${slogans.messageTypeId == 3 ? 'display: block' : 'display: none'}">

															<input type="file" name="file" th:field="*{file}"
																accept=".mp3,MP3|audio" /> <a href="#"><span
																th:text="*{audioFile}"></span></a>
														</div>

													</div>

												</div>




											</div>
											<div class="modal-footer">

												<button type="button"
													class="btn waves-effect waves-light btn-danger"
													data-dismiss="modal">Close</button>
												<button type="submit"
													class="btn waves-effect waves-light btn-success"
													onclick="return Validate()">Save</button>
											</div>
									
								</div>

							</div>
						</div>

					</div>

				</div>
			</div>
			<!-- ============================================================== -->
			<!-- End PAge Content -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- Right sidebar -->
			<!-- ============================================================== -->
			<!-- .right-sidebar -->
			<!-- ============================================================== -->
			<!-- End Right sidebar -->
			<!-- ============================================================== -->
		</div>
		<!-- ============================================================== -->
		<!-- End Container fluid  -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- footer -->
		<!-- ============================================================== -->
		<footer class="footer text-center"> Copyright Dan electronic
			system Pvt ltd, 2020 </footer>
		<!-- ============================================================== -->
		<!-- End footer -->
		<!-- ============================================================== -->
		
	</div>
	<form>
	<!-- ============================================================== -->
	<!-- End Page wrapper  -->
	<!-- ============================================================== -->
	</div>
	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- All Jquery -->
	<!-- ============================================================== -->
	<script src="/assets/libs/jquery/dist/jquery.min.js"></script>

	<!-- Bootstrap tether Core JavaScript -->
	<script src="/assets/libs/popper.js/dist/umd/popper.min.js"></script>
	<script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/dist/js/app-style-switcher.js"></script>
	<!--Wave Effects -->
	<script src="/dist/js/waves.js"></script>
	<!--Menu sidebar -->
	<script src="/dist/js/sidebarmenu.js"></script>
	<!--Custom JavaScript -->
	<script src="/dist/js/custom.js"></script>
</body>

</html>